<div class="article-list">
    <div class="article-list-image-wrapper">
        <a href=<%=article.url%>>
            <div class="article-list-image" style="background: url('public/images-article/<%=article.image%>');background-position:center;background-size: cover;"></div>
        </a>
    </div>
    <div class="article-list-content">
        <div class="article-list-text">
            <a href=<%=article.url%>>
                <h1><%=article.name%></h1>
            </a>
            <%_ article.paragraphs.map(p => { _%>
                <p><%=p%></p>
            <%_ }) _%>
        </div>
        <div class="article-list-footer">
            <a href="/<%=article.tagClass%>">
                <div class="article-list-footer-item tag <%=article.tagClass%>">
                    <strong><%= article.tag%></strong>
                </div>
            </a>
            <div class="article-list-footer-item">
                <span class="article-list-footer-date"><%=article.date%></span>               
            </div>
            <div class="article-list-footer-item">
                <img src="public/images-page/like.svg" alt="Like article heart image">
                <span class="like-number"><%=article.likes%></span>
            </div>
        </div>
    </div>
</div>