<%- include('./partials/header', {link: ''}) -%>
<main class="container">
  <div class="row main-row">
    <div class="col m9 s12">
      <div class="card article-card">
        <h1><%= article.name %></h1>
        <div class="article-date"><i><%=article.date%></i></div>
        <div class="article-divider"></div>
        <% article.paragraphs.map(p => { %>
            <<%= p.tag %>><%= p.text%></<%= p.tag %>>
        <% }); %>
        <div class="article-divider"></div>
        <!-- <div class="article-section">
          <a href="/<%=article.section%>">
            <div class="article-list-footer-item tag <%=article.section%>">
                <strong><%= article.tag%></strong>
            </div>
          </a>
        </div> -->
        <div class="article-list-footer-item">
          <img src="public/images-page/like.svg" alt="Like article heart image">
          <span class="like-number"><%=article.likes%></span>
        </div>
      </div>
    </div>
    <div class="col m3 s12">
      <div class="card card-ad">
        <div class="card-content">
          <p>Here will be some advertising</p>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione accusantium, dolor excepturi nesciunt corporis error et recusandae tenetur minus, officia ipsa eveniet quibusdam enim laboriosam dolores, expedita ducimus. Quaerat, nihil.</div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include ./partials/footer -%>